@import url("http://fonts.googleapis.com/css?family=Lato:300|Redressed");

body {
  font: 14px/1.5 "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #EEFAE8;
  padding-top: 75px;
}
body .content {
  background-color: #EEFAE8;
  padding-top: 30px;
  padding-bottom: 30px;
}

.preview-content{
  margin-bottom: 12px;
  max-width: 1020px;
  overflow-x: auto;
}

.centered{
  text-align: center;
}

.screenshot{
  overflow: hidden;
  height: 135px;
}

.screenshot>img{
  width: 100%;
}

.codemirror-container{
  position: relative;
  height: 300px;
}

.codemirror-container .CodeMirror{
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: unset !important;
  right: 0px;
  width: 100% !important;
}

section#content{
  width: 100%;
}

.coding{
	width: 100%;
	display: block;
	height: 50%;
  text-align: center;
  margin: auto;
	margin-bottom: 30px;
}

.coding:last-of-type{
	margin-bottom: 0px;
}

.coding .jqplot-target{
	width: 40%;
	height: 100%;
	display: inline-block;
  margin: auto;
  text-align: left;
  position: relative;
}

.CodeMirror{
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
	width: 50% !important;
	max-width: 600px;
	height: 100%;
  text-align: left;
  vertical-align: top;
}

.CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded{
	margin-left: 7px;
}
