<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">


  <link rel="stylesheet" href="{{ "/dist/plugins/fullscreener/fullscreener.min.css" | prepend: site.baseurl }}"/>

  <link rel="stylesheet" href="{{ "/dist/core/jquery.jqplot.min.css" | prepend: site.baseurl }}"/>

  <link rel="stylesheet" href="{{ "/assets/js/syntaxhighlighter/styles/shCoreDefault.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/js/syntaxhighlighter/styles/shThemejqPlot.css" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/dist/core/jquery.jqplot.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/examples.css" | prepend: site.baseurl }}">


  <script type="text/javascript" src="{{ "/dist/core/jquery.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/dist/core/jquery.jqplot.min.js" | prepend: site.baseurl }}"></script>



  <script type="text/javascript" src="{{ "/assets/js/syntaxhighlighter/scripts/shCore.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/syntaxhighlighter/scripts/shBrushJScript.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/syntaxhighlighter/scripts/shBrushXml.js" | prepend: site.baseurl }}"></script>

  {% if page.barrender == true %}
      <!-- Bar renderer -->
      <script src="{{ "/dist/plugins/bar/jqplot.barRenderer.min.js" | prepend: site.baseurl }}"></script>
  {% endif %}


  <script src="{{ "/dist/plugins/gauge/jqplot.meterGaugeRenderer.min.js" | prepend: site.baseurl }}"></script>

  <!-- Axes -->
  <script src="{{ "/dist/plugins/axis/jqplot.dateAxisRenderer.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/dist/plugins/axis/jqplot.canvasAxisTickRenderer.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/dist/plugins/text/jqplot.canvasTextRenderer.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/dist/plugins/axis/jqplot.categoryAxisRenderer.min.js" | prepend: site.baseurl }}"></script>


  <script src="{{ "/dist/plugins/highlighter/jqplot.highlighter.min.js" | prepend: site.baseurl }}"></script>


  <!-- Customization theme -->
  <script src="{{ "/dist/plugins/themes/extendedThemes.min.js" | prepend: site.baseurl }}"></script>

  <!-- Export PNG -->
  <script src="{{ "/dist/plugins/export/exportImg.min.js" | prepend: site.baseurl }}"></script>

  <script src="{{ "/dist/plugins/fullscreener/fullscreener.min.js" | prepend: site.baseurl }}"></script>

  <script src="{{ "/dist/plugins/donut/jqplot.donutRenderer.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/dist/plugins/radar/jqplot.radarRenderer.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/dist/plugins/pie/jqplot.pieRenderer.min.js" | prepend: site.baseurl }}"></script>



  <script src="{{ "/dist/plugins/legend/jqplot.enhancedLegendRenderer.min.js" | prepend: site.baseurl }}"></script>


  <script src="{{ "/dist/plugins/overlay/jqplot.canvasOverlay.min.js" | prepend: site.baseurl }}"></script>

  {% if page.pointlabel == true %}
  <script src="{{ "/dist/plugins/points/jqplot.pointLabels.min.js" | prepend: site.baseurl }}"></script>
  {% endif %}

  <script src="{{ "/dist/plugins/cursor/jqplot.cursor.min.js" | prepend: site.baseurl }}"></script>



  <script type="text/javascript" language="javascript">
    function goe() {
      parts = ['mXVai', 'ltPo', ':', 'chrU', 'i', 'Os@', 'jEqp', 'lNot.', 'cIUo', 'm']
      location.href=parts.join('').replace(/[A-Z]/g, '');
      return false;
    }

    SyntaxHighlighter.defaults['toolbar'] = false;
  </script>



  <script type="text/javascript">
    $(document).ready(function(){
      $('script.code').each(function(index) {
        $('pre.code').eq(index).text($(this).html());
      });

      var elstr='';
      if ($('script.include').length > 0) {
        $('script.include').each(function(index) {
          if (index > 0) {
            elstr += '\n';
          }
          elstr += '&lt;script type="text/javascript" src="'+$(this).attr('src')+'">&lt;/script>';
        });

        $('pre.include').html(elstr);

      }

      else {
        $('p.include').remove();
        $('div.include').remove();
      }

      $(document).unload(function() {$('*').unbind(); });

      SyntaxHighlighter.all();
    });
  </script>

</head>
