<footer>
  <section id="footer">
    <div class="branding">
      <h3 class="fancy"><a href="{{ "/" | prepend: site.baseurl }}">jQPlot Chart Library</a></h3>
    </div>
    <div class="list">
      <ul>
        <li><a href="{{ "/guide/installation.html" | prepend: site.baseurl }}">Installation</a></li>
        <li><a href="{{ "/guide/plugins/index.html" | prepend: site.baseurl }}">Plugins</a></li>
      </ul>
    </div>
    <div class="list">
      <ul>
        <li><a href="{{ "/api/index.html" | prepend: site.baseurl }}">API</a></li>
        <li><a href="{{ "/api/plugins/index.html" | prepend: site.baseurl }}">Plugin Utility API</a></li>
      </ul>
    </div>
    <div class="list">
      <ul>
        <li><a href="{{ "/guide/resources/index.html" | prepend: site.baseurl }}">Help</a></li>
        <li><a href="{{ "/tests/index.html" | prepend: site.baseurl }}">Test Suite</a></li>
        <li><a href="https://github.com/svandecappelle/jQPlot/wiki/changelog.md" target="_blank">Changelog</a></li>
      </ul>
    </div>
    <div class="list">
      <ul>
        <li><a href="https://github.com/svandecappelle/jQPlot/issues" target="_blank">Issues</a></li>
        <li><a href="http://groups.google.com/group/jqplot-users" target="_blank">Google Group</a></li>
        <li><a href="http://travis-ci.org/#!/svandecappelle/jQPlot" target="_blank">Build Status</a></li>
      </ul>
    </div>
  </section>
</footer>
