<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script src="{{ "/core/jquery.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/core/jquery.jqplot.min.js" | prepend: site.demo_dist_basedir }}"></script>

<script src="{{ "/plugins/export/exportImg.min.js" | prepend: site.demo_dist_basedir }}"></script>
<!--<script src="{{ "/plugins/mobile/jqplot.mobile.min.js" | prepend: site.demo_dist_basedir }}"></script>-->
<script src="{{ "/plugins/pie/jqplot.pieRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/gauge/jqplot.meterGaugeRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/dnd/jqplot.dragable.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/legend/jqplot.enhancedLegendRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/points/jqplot.pointLabels.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/radar/jqplot.radarRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/mekko/jqplot.mekkoRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/mekko/jqplot.mekkoAxisRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/ohlc/jqplot.ohlcRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/trendline/jqplot.trendline.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/funnel/jqplot.funnelRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/utils/jqplot.ciParser.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/utils/jqplot.min.json2.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/axis/jqplot.logAxisRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/axis/jqplot.canvasAxisTickRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/axis/jqplot.canvasAxisLabelRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/axis/jqplot.dateAxisRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/axis/jqplot.categoryAxisRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/bar/jqplot.barRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/themes/extendedThemes.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/block/jqplot.blockRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/fullscreener/fullscreener.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/cursor/jqplot.cursor.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/pyramid/jqplot.pyramidAxisRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/pyramid/jqplot.pyramidRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/pyramid/jqplot.pyramidGridRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/bezier/jqplot.BezierCurveRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/overlay/jqplot.canvasOverlay.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/bubble/jqplot.bubbleRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/highlighter/jqplot.highlighter.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/donut/jqplot.donutRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>
<script src="{{ "/plugins/text/jqplot.canvasTextRenderer.min.js" | prepend: site.demo_dist_basedir }}"></script>

<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"/>
<link rel="stylesheet" href="{{ "/css/demo.css" | prepend: site.baseurl }}"/>
<link rel="stylesheet" type="text/css" href="{{ "/core/jquery.jqplot.min.css" | prepend: site.demo_dist_basedir }}"/>
