{% include head.html %}

<script src="/dist/core/jquery.jqplot.min.js"></script>
<link rel="stylesheet" type="text/css" href="/dist/core/jquery.jqplot.min.css"/>
<link rel="stylesheet" href="/css/demo.css"/>

<!-- All plugins -->
<!--<script src="/dist/plugins/bezier/jqplot.BezierCurveRenderer.min.js"></script>-->
<script src="/dist/plugins/pyramid/jqplot.pyramidRenderer.min.js"></script>
<script src="/dist/plugins/pyramid/jqplot.pyramidAxisRenderer.min.js"></script>
<script src="/dist/plugins/pyramid/jqplot.pyramidGridRenderer.min.js"></script>
<script src="/dist/plugins/legend/jqplot.enhancedLegendRenderer.min.js"></script>
<script src="/dist/plugins/bar/jqplot.barRenderer.min.js"></script>
<!-- Axes -->
<script src="/dist/plugins/axis/jqplot.dateAxisRenderer.min.js"></script>
<script src="/dist/plugins/axis/jqplot.canvasAxisTickRenderer.min.js"></script>
<script src="/dist/plugins/text/jqplot.canvasTextRenderer.min.js"></script>
<!-- Customization theme -->
<script src="/dist/plugins/themes/extendedThemes.min.js"></script>
<!-- Export PNG -->
<script src="/dist/plugins/export/exportImg.min.js"></script>
<script src="/dist/plugins/fullscreener/fullscreener.min.js"></script>
<script src="/dist/plugins/legend/jqplot.enhancedLegendRenderer.min.js"></script>
<script src="/dist/plugins/overlay/jqplot.canvasOverlay.min.js"></script>

<link type="text/css" rel="stylesheet" href="../../../dist/plugins/fullscreener/fullscreener.min.css"/>

<link rel="stylesheet" type="text/css" href="/dist/core/jquery.jqplot.min.css"/>
