{% include head_demo.html %}
<link rel="stylesheet" media="all" href="{{ "/tests/mocha/mocha.css" | prepend: site.baseurl }}"/>
<script src="{{ "/tests/mocha/mocha.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/tests/chai/chai.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/tests/core/test.js" | prepend: site.baseurl }}"></script>

<style>
  #mocha-stats{
    background: white;
  }

  h1{
    color: grey;
  }

  #jqplot-test{
    width: 35%;
    display: inline-block;
    vertical-align: top;
  }

  #mocha{
    display: inline-block;
  }
</style>
