<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script src="/dist/core/jquery.min.js"></script>
<script src="/dist/core/jquery.jqplot.min.js"></script>

<script src="/dist/plugins/export/exportImg.min.js"></script>
<script src="/dist/plugins/mobile/jqplot.mobile.min.js"></script>
<script src="/dist/plugins/pie/jqplot.pieRenderer.min.js"></script>
<script src="/dist/plugins/gauge/jqplot.meterGaugeRenderer.min.js"></script>
<script src="/dist/plugins/dnd/jqplot.dragable.min.js"></script>
<script src="/dist/plugins/legend/jqplot.enhancedLegendRenderer.min.js"></script>
<script src="/dist/plugins/points/jqplot.pointLabels.min.js"></script>
<script src="/dist/plugins/radar/jqplot.radarRenderer.min.js"></script>
<script src="/dist/plugins/mekko/jqplot.mekkoRenderer.min.js"></script>
<script src="/dist/plugins/mekko/jqplot.mekkoAxisRenderer.min.js"></script>
<script src="/dist/plugins/ohlc/jqplot.ohlcRenderer.min.js"></script>
<script src="/dist/plugins/trendline/jqplot.trendline.min.js"></script>
<script src="/dist/plugins/funnel/jqplot.funnelRenderer.min.js"></script>
<script src="/dist/plugins/utils/jqplot.ciParser.min.js"></script>
<script src="/dist/plugins/utils/jqplot.min.js"></script>on2.js
<script src="/dist/plugins/axis/jqplot.logAxisRenderer.min.js"></script>
<script src="/dist/plugins/axis/jqplot.canvasAxisTickRenderer.min.js"></script>
<script src="/dist/plugins/axis/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script src="/dist/plugins/axis/jqplot.dateAxisRenderer.min.js"></script>
<script src="/dist/plugins/axis/jqplot.categoryAxisRenderer.min.js"></script>
<script src="/dist/plugins/bar/jqplot.barRenderer.min.js"></script>
<script src="/dist/plugins/themes/extendedThemes.min.js"></script>
<script src="/dist/plugins/block/jqplot.blockRenderer.min.js"></script>
<script src="/dist/plugins/fullscreener/fullscreener.min.js"></script>
<script src="/dist/plugins/cursor/jqplot.cursor.min.js"></script>
<script src="/dist/plugins/pyramid/jqplot.pyramidAxisRenderer.min.js"></script>
<script src="/dist/plugins/pyramid/jqplot.pyramidRenderer.min.js"></script>
<script src="/dist/plugins/pyramid/jqplot.pyramidGridRenderer.min.js"></script>
<script src="/dist/plugins/bezier/jqplot.BezierCurveRenderer.min.js"></script>
<script src="/dist/plugins/overlay/jqplot.canvasOverlay.min.js"></script>
<script src="/dist/plugins/bubble/jqplot.bubbleRenderer.min.js"></script>
<script src="/dist/plugins/highlighter/jqplot.highlighter.min.js"></script>
<script src="/dist/plugins/donut/jqplot.donutRenderer.min.js"></script>
<script src="/dist/plugins/text/jqplot.canvasTextRenderer.min.js"></script>

<link rel="stylesheet" href="/css/demo.css"/>
<link rel="stylesheet" type="text/css" href="/dist/core/jquery.jqplot.min.css"/>
