<nav id="primary">
  <div class="nav-wrap">
    <div class="logo">
      <h1><a href="/index.html">jQPlot Chart Library</a></h1>
    </div>
    <div class="navlist">
      <ul>
        <li><a href="/demo/index.html">Demo</a></li>
        <li><a href="/guide/index.html">Guide</a></li>
        <li><a href="/api/index.html" class="">API</a></li>
        <li><a href="/plugins/index.html">Plugins</a></li>
        <li><a href="/tests/index.html">Unit tests</a></li>
      </ul>
    </div>
  </div>
</nav>
