<nav id="primary">
  <div class="nav-wrap">
      <a href="https://github.com/svandecappelle/jQPlot"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 9999" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
      <div class="logo">
        <h1><a href="{{ "/index.html" | prepend: site.baseurl }}">jQPlot Chart Library</a></h1>
      </div>
      <div class="navlist">
        <ul>
          <li><a href="{{ "/demo/index.html" | prepend: site.baseurl }}">Demo</a></li>
          <li><a href="{{ "/guide/index.html" | prepend: site.baseurl }}">Guide</a></li>
          <li><a href="{{ "/api/index.html" | prepend: site.baseurl }}">API</a></li>
          <li><a href="{{ "/plugins/index.html" | prepend: site.baseurl }}">Plugins</a></li>
          <li><a href="{{ "/tests/index.html" | prepend: site.baseurl }}">Unit tests</a></li>
        </ul>
      </div>
  </div>
</nav>
