<nav id="primary">
    <div class="nav-wrap">
        <div class="logo">
            <h1><a href="{{ "/index.html" | prepend: site.baseurl }}">jQPlot Chart Library</a></h1>
        </div>
        <div class="navlist">
            <ul>
                <li><a href="{{ "/demo/index.html"| prepend: site.baseurl }}">Demo</a></li>
                <li><a href="{{ "/guide/index.html"| prepend: site.baseurl }}">Guide</a></li>
                <li><a href="{{ "/api/index.html" | prepend: site.baseurl }}">API</a></li>
                <li><a href="{{ "/plugins/index.html"| prepend: site.baseurl }}">Plugins</a></li>
                <li><a href="{{ "/tests/index.html" | prepend: site.baseurl }}">Unit tests</a></li>
            </ul>
        </div>
    </div>
</nav>