.coding{
	width: 100%;
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
	height: 50%;
	margin-bottom: 30px;
}

.coding:last-of-type{
	margin-bottom: 0px;
}

body{
	background-image: url('img/fabric_of_squares_gray.png');
}

.coding>div{
	width: 50%;
	height: 50%;
	position: absolute;
	display: inline-block;
}

.CodeMirror{
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
	position: absolute;
	right: 0px;
	width: 50% !important;
	max-width: 600px;
}

.CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded{
	margin-left: 7px;
}