.coding{
	width:50%;
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}

body{
	background-image: url('img/fabric_of_squares_gray.png');
}

.coding>div{
	width:100%;
	height: 50%;
	display: inline-block;
}

.CodeMirror{
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}