.coding{
	width: 100%;
	display: inline-block;
	height: 50%;
	margin-bottom: 30px;
	text-align: center;
}

.coding:last-of-type{
	margin-bottom: 0px;
}

.coding>div{
	width: 40%;
	height: 100%;
	display: inline-block;
}

.CodeMirror{
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
	width: 50% !important;
	max-width: 600px;
	height: 100%;
}

.CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded{
	margin-left: 7px;
}
