---
layout: frontpage

blrubs:
  - blurb: Basic graph
    blurbimage: Simple sample.png
    destination: core/

---

    <header>
      <div class="content">
      	<section id="content">
          <h1>Jqplot live demo</h1>

          <div class="rowInside">

            <article class="grid_12 hrline"></article>
            <article class="grid_12 desc">
              <h2 class="plain">jQPlot Core.</h2>
            </article>


            {% assign blurb="Basic graph" %}
            {% assign blurbimage="Simple sample.png" %}
            {% assign destination="core/Basic graph.html" %}
            {% include demo_advert.html  %}

            {% assign blurb="Stairs chart" %}
            {% assign blurbimage="Stairs.png" %}
            {% assign destination="core/Stairs renderer.html" %}
            {% include demo_advert.html  %}

            {% assign blurb="Chart without datat" %}
            {% assign blurbimage="No data.png" %}
            {% assign destination="core/No data.html" %}
            {% include demo_advert.html  %}

            {% assign blurb="Splitted line chart" %}
            {% assign blurbimage="Splitted.png" %}
            {% assign destination="core/Splitted line chart.html" %}
            {% include demo_advert.html  %}

            {% assign blurb="Live properties edition" %}
            {% assign blurbimage="Change dynamic option.png" %}
            {% assign destination="core/Modify chart.html" %}
            {% include demo_advert.html  %}

          </div>

          <!-- Plugins -->
          <div class="rowInside">
            <article class="grid_12 hrline"></article>
            <article class="grid_12 desc">
              <h2 class="plain">jQPlot Plugins.</h2>
            </article>

            {% assign blurb="Date on axis" %}
            {% assign blurbimage="Date Axis.png" %}
            {% assign destination="plugins/Date on axis.html" %}
            {% include demo_advert.html  %}

            {% assign blurb="Bar with date" %}
            {% assign blurbimage="Bar.png" %}
            {% assign destination="plugins/Bars with date.html" %}
            {% include demo_advert.html  %}

            {% assign blurb="Donut renderer" %}
            {% assign blurbimage="Donut.png" %}
            {% assign destination="plugins/Donut.html" %}
            {% include demo_advert.html  %}

            {% assign blurb="Cursor" %}
            {% assign blurbimage="Cursor.png" %}
            {% assign destination="plugins/Cursor.html" %}
            {% include demo_advert.html  %}

            {% assign blurb="Fullscreen" %}
            {% assign blurbimage="Fullscreen.png" %}
            {% assign destination="plugins/Fullscreen Plot.html" %}
            {% include demo_advert.html  %}

            {% assign blurb="Gauge renderer" %}
            {% assign blurbimage="Gauge.png" %}
            {% assign destination="plugins/Gauge.html" %}
            {% include demo_advert.html  %}

            {% assign blurb="Overlay" %}
            {% assign blurbimage="Overlay.png" %}
            {% assign destination="plugins/overlay.html" %}
            {% include demo_advert.html  %}


            {% assign blurb="Pie renderer" %}
            {% assign blurbimage="Pie.png" %}
            {% assign destination="plugins/Pie.html" %}
            {% include demo_advert.html  %}

            {% assign blurb="Point labels" %}
            {% assign blurbimage="Point labels.png" %}
            {% assign destination="plugins/Point labels.html" %}
            {% include demo_advert.html  %}

            >
          </div>
        </section>
      </div>
    </header>
