<!DOCTYPE html>
<html>

{% include demoexamples_head.html %}

<body class="index">

{% include navigation.html %}



<header>
    <div class="content">
        <section id="content">
            <div class="rowInside">
                <article class="grid_12">
                    <h1>Demo: {{ page.title }}</h1>

                </article>
            </div>


            <div class="rowInside">

                <div class="grid_1">
                    <b>Core demos</b> <br />

                    {% for files in site.data.democore %}
                      <a href="{{ site.baseurl }}/demo/core/{{ files.filename }}.html">{{ files.filename }}</a> <br />
                    {% endfor %}


                    <br /> <b>Plugin demos</b><br />

                    {% for files in site.data.demoplugins %}
                      <a href="{{ site.baseurl }}/demo/plugins/{{ files.filename }}.html">{{ files.filename }}</a> <br />
                    {% endfor %}

                </div>

                <div class="grid_8">

                    {{ content }}

                    {% if page.mutiplecharts == null %}

                    <div class="code prettyprint">
                        <pre class="code prettyprint brush: js"></pre>
                    </div>
                    <div id="chart1" style="height:300px; width:650px;"></div>

                    {% endif %}

                </div>

            </div>


        </section>
    </div>
</header>



{% include footer.html %}
