<!DOCTYPE html>
<html>

{% include demoexamples_head.html %}

<body class="index">

{% include navigation.html %}



<header>
    <div class="content">
        <section id="content">
            <div class="rowInside">
                <article class="grid_12">
                    <h1>Demo: {{ page.title }}</h1>

                </article>
            </div>


            <div class="rowInside">

                <div class="grid_1">
                    <b>Core demos</b> <br />

                    <a href="Basic graph.html">Basic graph</a> <br />

                    <a href="Modify chart.html">Modify chart</a> <br />

                    <a href="No data.html">No data</a> <br />

                    <a href="Splitted line chart.html">Splitted line chart</a> <br />

                    <a href="Stairs renderer.html">Stairs renderer</a> <br />

                    <br /> <b>Plugin demos</b><br />

                </div>

                <div class="grid_8">

                    {{ content }}

                    <div class="code prettyprint">
                        <pre class="code prettyprint brush: js"></pre>
                    </div>
                    <div id="chart1" style="height:300px; width:500px;"></div>

                </div>

            </div>


        </section>
    </div>
</header>



{% include footer.html %}
